<ion-view view-title="Registro">
  <ion-content>
    <div class="list">
      
      <label class="item item-input item-stacked-label">
        <span class="input-label">Usuario</span>
        <input type="text" placeholder="User" ng-model="userName">
      </label>
      
      <label class="item item-input item-stacked-label">
        <span class="input-label">Contraseña</span>
        <input type="password" placeholder="Password" ng-model="userKey">
      </label>
      
      <label class="item item-input item-stacked-label">
        <span class="input-label">Confirmar Contraseña</span>
        <input type="password" placeholder="Password Confirm" ng-model="userKeyConfirm">
      </label>
      
      <label class="item item-input item-stacked-label">
        <span class="input-label">E-mail</span>
        <input type="text" placeholder="example@example.com" ng-model="email">
      </label>
      
    </div>
    
    <button class="button button-full button-positive" ng-click="registro(userName, userKey, userKeyConfirm, email )"  ng-model=" ">Registrarse</button>
  
  </ion-content>
</ion-view>