/* Empty. Add your own CSS if you like */
.center{
	text-align: center
}
.leaflet-top .leaflet-control {
  margin-top: 50px;
}
.arriba{
	margin-top: 50px;

}
.aa {
	color: darkblue;
	font-size: 25px;
	text-decoration: none;
}

.button.button-positive {
		background-color: red;
		margin: 5px;
}